.message{
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.messagetop{
  display: flex;

}
.messageimg{
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.messagetext{
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(68, 68, 243);
  color: white;
  max-width: 300px;
}
.messagebotom{
  font-size: 12px;
  margin: 10px;
}

.message.own{
  align-items: flex-end;
}
.message.own .messagetext{
  background-color: rgb(241, 231, 231);
  color: black;
}