.sidebar{
  flex:3;
  height: calc(100vh-50px);
  overflow-y: scroll;
  position: sticky;
 

}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
 background-color: rgb(227, 220, 220);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(137, 126, 126);
}

.sidebarwrapper{
  padding: 20px;
 
}
.Sidebarlist{
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebarlistitems{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sidebaricon{
  margin-left: 15px;
}

.sidebarButton{
  width: 150px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: bolder;
}
.sidebarhr{
  margin: 10px 0;

}
.sidebarfriendlist{
  padding: 0;
  margin: 0;
  list-style: none;

}
